Repository vanyauhalin/swapi-searcher: changes, and which lefthook commands are due for each by the changed paths.
All: lint-scripts, lint-styles

lefthook.yml:

pre-commit:
  commands:
    lint-scripts:
      glob: "*.{js,json,yaml,yml}"
      run: eslint {staged_files}
    lint-styles:
      glob: "*.css"
      run: stylelint {staged_files}

commit-msg:
  commands:
    lint:
      run: commitlint --edit

feat: add support nested classes for SearchRoot
  src/modules/Search/components/SearchRoot/SearchRoot.module.css
  src/modules/Search/components/SearchRoot/SearchRoot.tsx
Due: lint-styles

feat: change vanilla links to router links
  src/modules/Search/Search.tsx
  src/modules/Search/components/SearchOutput/SearchOutput.tsx
Due: none

feat: add colors, sizes for icons
  src/components/Icon/Icon.module.css
  src/components/Icon/Icon.tsx
  src/modules/Search/components/SearchField/SearchField.module.css
  src/modules/Search/components/SearchField/SearchField.tsx
Due: lint-styles

feat: add sizes for logo
  src/components/Logo/Logo.module.css
  src/components/Logo/Logo.tsx
Due: lint-styles

feat: add support nested classes for Search
  src/modules/Search/Search.tsx
Due: none

feat: add base layout components
  src/components/Layout/Layout.module.css
  src/components/Layout/Layout.tsx
Due: lint-styles

feat: add details page
  src/App.tsx
  src/pages/Details/Details.module.css
  src/pages/Details/Details.tsx
  src/pages/Details/index.tsx
  src/pages/Home.module.css
  src/pages/Home.tsx
  src/pages/Home/Home.module.css
  src/pages/Home/Home.tsx
  src/pages/Home/index.tsx
Due: lint-styles

fix: set list values for scope property
  types/swapi.d.ts
Due: none

feat: add extract-parameters util
  src/utils/extract-parameters.ts
  src/utils/index.ts
Due: none

feat: add use-mount util
  src/utils/index.ts
  src/utils/use-mount.ts
Due: none

feat: add fake data
  src/plugins/swapi/data.ts
  src/plugins/swapi/rest.ts
Due: none

feat: add feed module
  src/modules/Feed/Feed.tsx
  src/modules/Feed/components/FeedDetails/FeedDetails.module.css
  src/modules/Feed/components/FeedDetails/FeedDetails.tsx
  src/modules/Feed/components/FeedDetails/index.tsx
  src/modules/Feed/components/FeedList/FeedList.module.css
  src/modules/Feed/components/FeedList/FeedList.tsx
  src/modules/Feed/components/FeedList/index.tsx
  src/modules/Feed/components/FeedRoot/FeedRoot.tsx
  src/modules/Feed/components/FeedRoot/index.tsx
  src/modules/Feed/components/index.tsx
  src/modules/Feed/index.tsx
  src/modules/index.tsx
Due: lint-styles

fix: simplify effect
  src/modules/Search/components/SearchOutput/SearchOutput.tsx
Due: none

feat: add query for route
  src/App.tsx
  src/modules/Search/Search.tsx
Due: none

feat: add navigate
  src/modules/Search/Search.tsx
  src/modules/Search/components/SearchRoot/SearchRoot.tsx
Due: none

feat: add query for search
  src/modules/Search/Search.tsx
  src/modules/Search/components/SearchField/SearchField.tsx
Due: none

feat: add scope for search
  src/modules/Search/Search.tsx
Due: none

fix: feed mount
  src/modules/Feed/Feed.tsx
Due: none

fix: update details via new modules
  src/pages/Details/Details.module.css
  src/pages/Details/Details.tsx
Due: lint-styles

chore: update readme
  README.md
Due: none

chore: remove linters
  .eslintrc.json
  .npmrc
  .stylelintrc.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: lint-scripts

refactor: update to new rules
  src/components/Layout/Layout.tsx
  src/modules/Feed/components/FeedList/FeedList.tsx
  src/modules/Search/components/SearchField/SearchField.tsx
  src/modules/Search/components/SearchRoot/SearchRoot.tsx
Due: none

feat: add swapi hooks
  src/modules/Feed/Feed.tsx
  src/plugins/swapi/hooks.ts
  src/plugins/swapi/index.ts
Due: none
